<div class="contenu-centre">
  <div class="modal-box">
    <h1 class="titre">
      Créer une liste
    </h1>

    <input #listeTitreInput class="input has-background-light is-medium" type="text"
      placeholder="Saisissez le nom de la liste...">
    <br><br>
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/listes">Annuler</button>
      <button class="button is-info has-text-white is-medium" (click)="creerListe(listeTitreInput.value)">Créer</button>
    </div>


  </div>
</div>
