<div class="contenu-centre">
  <div class="modal-box">
    <h1 class="titre">
      Modifier la pièce
    </h1>

    <input #pieceTitreInput class="input has-background-light is-medium" type="text"
      placeholder="Saisissez le nom de la pièce...">
    <br><br>
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/listes">Annuler</button>
      <button class="button is-info has-text-white is-medium"
        (click)="majPiece(pieceTitreInput.value)">Sauvegarder</button>
    </div>
  </div>
</div>
