@import '../../../main-styles.scss';

.contenu-des-listes {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 680px;
}

.sidebar {
  display: flex;
  flex-direction: column;

  width: 250px;
  background: white;

  padding: 42px;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.contenu-des-pieces {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 42px;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;


  .top-bar {
    margin-bottom: 20px;
    display: flex;

    .titre {
      flex-grow: 1;
      margin: 0;
    }
  }

}

.menu-liste {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  flex-grow: 1;

  .menu-liste-item {
    display: flex;

    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;

    width: 100%;
    color: #5f5f5f;
    margin-bottom: 5px;

    &:hover {
      background: $light;
    }

    &.is-active {
      background-color: $cyan;
      color: $light;
    }
  }
}

.piece {
  display: flex;
  background: white;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 10px;

  align-items: center;

  &:not(.achetee) {
    cursor: pointer;
    transition: box-shadow 0.2s ease, transform 0.2s ease;

    &:active {
      transform: scale(0.95);
    }

    &:hover {
      box-shadow: 0 0 0 5px #eeeeee;

      .piece-buttons {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &.achetee .piece-text {
    text-decoration: line-through;
    opacity: 0.8;
  }


  .piece-text {
    display: flex;
    flex-grow: 1;
  }

  .piece-buttons {
    transition: opacity 0.2s, transform 0.2s;
    opacity: 0;
    transform: scale(0.85);
  }
}

.cercleAjout-btn {
  position: absolute;
  bottom: 35px;
  right: 35px;
  height: 50px;
  width: 50px;
  border-radius: 50%;

}

.deconexion-btn {
  position: absolute;
  top: 35px;
  right: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;

}

.etat-vide-text {
  font-size: 20px;
  color: #777;
  text-align: center;
}
