<button class="deconexion-btn button light" (click)="deconnexion()" title="Déconnexion">
  <i class="fas fa-sign-in-alt"></i>
</button>

<div class="contenu-centre">
  <div class="contenu-des-listes">

    <div class="sidebar has-background-white">
      <h1 class="titre has-text-info">
        Liste(s)
      </h1>

      <div class="menu-liste">
        <a class="menu-liste-item" *ngFor="let liste of listes" [routerLink]="['/listes', liste._id]"
          routerLinkActive="is-active">
          <p>{{ liste.titre }}</p>
        </a>

      </div>

      <button class="button is-info has-text-white" routerLink="/nouvelle-liste">+ Nouvelle liste</button>

    </div>

    <div class="contenu-des-pieces has-background-light">
      <div *ngIf="pieces">
        <div class="top-bar">
          <h1 class="titre has-text-info">
            Pièce(s)
          </h1>
          <div class="dropdown is-hoverable is-right" title="Action sur la liste">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                <span class="icon is-small">
                  <i class="fas fa-cog" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content">
                <a [routerLink]="['/modifier-liste', listeSelectionneeId]" class="dropdown-item">
                  Modifier
                </a>
                <a (click)="btnSuppListeClick()" class="dropdown-item has-text-danger">
                  Supprimer
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- element piece -->
        <div class="piece" *ngFor="let piece of pieces" (click)="btnAcheteClick(piece)"
          [ngClass]="{ 'achetee': piece.achetee }">
          <div class="piece-text">
            <p>{{ piece.titre }}</p>
          </div>
          <div class="piece-buttons">

            <button class="button" [routerLink]="['/listes', listeSelectionneeId, 'modifier-piece', piece._id]">
              <div class="icon">
                <i class="fas fa-edit"></i>
              </div>
            </button>

            <button class="button is-danger" (click)="btnSuppPieceClick(piece._id)" style="margin-left: 10px;">
              <div class="icon">
                <i class="fas fa-trash"></i>
              </div>
            </button>

          </div>
        </div>

        <h3 class="etat-vide-text" *ngIf="pieces.length === 0">Liste vide, Pour ajouter une pièce
          cliquez sur le bouton ajouter</h3>

        <button routerLink="./nouvelle-piece" class="cercleAjout-btn button is-info">
          <img src="../../../assets/plus-icon.svg" class="has-text-white">
        </button>
      </div>

      <div *ngIf="!pieces">
        <h3 class="etat-vide-text">Veuillez sélectionner une liste</h3>
      </div>

    </div>

  </div>
</div>
