<div class="contenu-centre">
  <div class="boxe-blanc">

    <h1 class="titre has-text-info">S'identifier</h1>

    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input #emailInput class="input has-background-light" type="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input #mdpInput class="input has-background-light" type="password" placeholder="Mot de passe">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field" style="display: flex; justify-content: flex-end;">
      <p class="control">
        <button class="button is-info has-text-white" (click)="btnLoginClick(emailInput.value, mdpInput.value)">
          Se connecter
        </button>
      </p>
    </div>

    <br>

    <p class="has-text-grey">Pas de compte ? <a routerLink="/inscription">S'inscrire</a></p>

  </div>
</div>
